<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
    <classes>
      <class name="tests.Excercise1Test"/>
      <class name="tests.Excercise2Test"/>
      <class name="tests.Excercise3Test"/>
      <class name="tests.Excercise4Test"/>
      <class name="tests.Excercise5Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
