<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Travelocity Automated Suite" parallel="tests"
	thread-count="5">
	<test name="Test1">
		<classes>
			<class name="com.tests.Excercise1Test" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="com.tests.Excercise2Test" />
		</classes>
	</test>
	<test name="Test3">
		<classes>
			<class name="com.tests.Excercise3Test" />
		</classes>
	</test>
	<test name="Test4">
		<classes>
			<class name="com.tests.Excercise4Test" />
		</classes>
	</test>
	<test name="Test5">
		<classes>
			<class name="com.tests.Excercise5Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
